.primary-color-bg {
	background-color: #785da2 !important;
}
.primary-color {
	color: #785da2 !important;
}
.loading {
	margin: 20px 0 0 20px;
}
.loading i {
	font-size: 14px;
}
.team-banner::after {
	content: '';
	opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}
.stat-player-info::after {
	content: '';
	opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}
.stat-player-info {
	position: relative;
}
.team-banner {
	height: 80px;
	position: relative;
}
.team-banner-logo {
	height: 70px
}
.team-banner-name {
	display: inline;
}
.source-logo {
	margin-right: 20px;
	background-color: #785da2;
	color: #fff;
	padding: 3px 10px;
}
.conf-logo {
	height: 125px;
}
.news-content {
	margin-top: 44px;
}
.news-image {
	height: 250px;

}
.news-content-actions .dropdown-item:active {
	background-color: #785da2;
}
.fc .fc-toolbar > * > * {
	float: left !important;
}
.bg-light-purple {
	background-color: #bbacd1;
}
.fc-next-button {
	margin-left: 1.5rem !important;
}
.fc-prev-button, .fc-next-button {
	margin-top: 4px !important;
}
.fc-sat, .fc-sun {
    background: #fff1f1;
}
.fav-team--selected {
	background: #f5f1ff;
}
.vote-up, .vote-down {
	color: gray;
	font-size: 13px;
}
.voted {
	color: #785da2;
}
.vote-up:hover, .vote-down:hover{
	color: #785da2;
}
.navbarr {
	margin: 20px 0;
}
.nav-item {
	border: 1px solid #ded1f2;
	border-radius: 2px;
	width: 100px;
	text-align: center;
}
.nav-item:first-child {
	margin-right: 30px;
}
.nav-item--active {
	background-color: #bbacd1;
	color: #fff;
}
.nav-item:last-child {
	margin-left: 30px;
}
.hub-logo {
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	margin: 0 30px;
}
.hub-logo:hover {
	cursor: default;
}
.nav-item:hover {
	cursor: pointer;
	background-color: #a690c5;
	color: #fff;
}
.btn-glossary {
	padding: 0 .5rem;
}
#glossary {
	margin-top: 3px;
}
#glossary ul{
	margin-bottom: 0;
}
.bc-container .col{
	padding: 0;
}
.bc-container .breadcrumb {
	background-color: #fff;
	padding: 0;
	margin-bottom: 0;
}
.nav-community:hover {
	cursor: not-allowed;
	background-color: #fff;
}
.pot:hover, .stat-conf:hover, .stat-team-list-logo:hover, .stat-t-player:hover {
	cursor: pointer;
}
.stat-search {
	width: calc(100% - 60px);
}
.btn__stat-search {
	padding: .813rem 1rem;
}
.nav-circle:not(:first-child):not(:last-child) {
	margin: 0 20px;
}
.calendar-page {
	margin-top: 20px;
}
.fc .fc-toolbar > * > * {
	float: none;
}
.fc-more-cell > div {
	margin-top: 10px;
	margin-left: 90px;
}
.fc-popover {
	background-color: #fff;
	border: 1px solid #d1d1d1;
}
.fc-more-popover {
	width: 125px;
}
.fc-header {
	display: none;
}
.fc-popover .event {
	margin-bottom: 10px;
}
.fc-popover .event:last-child {
	margin-bottom: 0;
}
.event-team-logo {
	height: 40px;
	width: 40px;
}
.event:hover {
	cursor: pointer;
}
.event img:first-child  {
	margin-right: 5px;
}
.fav-footer {
	margin-top: 1em;
	border: 1px solid #ddd;
	background-color: #f5f1ff;
}
.fav-footer .col {
	border-right: 1px solid #ddd;
}
.fav-footer .col:last-child {
	border-right: 0;
}
.fav-logo img {
	height: 100px;
	width: 100px;
	padding: 10px 0;
}
.modal-header {
	padding: 5px 10px;
}
.modal-dialog {
	max-width: 800px;
}
.modal-body {
	background: url("../img/court.svg") center no-repeat;
	background-size: cover;
	height: 500px;
}
.place {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	color: #fff;
    font-weight: 600;
    bottom: 12px;
}
.place::before {
	content: "\f041";
	font: normal normal normal 14px/1 FontAwesome;
	margin-right: 5px;
}
.countdown {
	position: absolute;
	left: 50%;
	top: 10px;
	transform: translate(-50%);
	color: #fff;
    font-weight: 600;
}
.countdown::before {
	content: "\f017";
	font: normal normal normal 14px/1 FontAwesome;
	margin-right: 5px;
}
.modal-stats {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 202px;
	background: rgba(255,255,255,.8);
	padding: 34px 9px;
	border-radius: 50px;
	font-size: 18px;
	font-weight: 500;
}
.modal-stats:hover {
	text-decoration: none;
}

.modal-team-logo {
	position: absolute;
	top: 181px;
	background: #fff;
	height: 107px;
	width: 107px;
}
.home img {
	left: 143px;
}
.away img {
	right: 143px;
}
.odds {
	position: absolute;
	top: 222px;
	min-width: 40px;
	background: rgba(255,255,255,.7);
	border-radius: 3px;
	padding: 3px;
	color: #505050;
	text-align: center;
}
.odds:hover {
	cursor: default;
}
.home-odds {
	left: 80px;
}
.away-odds {
	right: 80px;
}
.roster {
	position: absolute;
	top: 290px;
	background: rgba(255, 255, 255, .7);
	border-radius: 5px;
	padding: 10px 20px;
	min-width: 180px;
}
.home-roster {
	right: 15px;
}
.away-roster {
	left: 15px;
}
.roster ul {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}
.home-roster ul{
	text-align: right;	
}
.seperator {
	background: #000; 
	width: 1px;
	height: 24px;
}
.modal-footer {
	display: block;
}
.footer-ava {
	margin-top: 20px;
}
.footer-ava ul {
	list-style: none;
	padding: 0;
	margin-bottom: 0
}
.bar li *, bar span  {
	margin: 0 10px;
}
.bar li a {
	margin-left: 0;
}
.fav-footer {
	display: none;
}
.stat-cards {
	min-height: calc(270px + 6rem)
}
.stat-card {
	border-radius: .3rem;
	border: 1px solid #ced4da;
}
.stat-card:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 5px solid #ced4da;
}
.stat-card:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: 0;
}
.stat-conf:first-child {
	border-right: 1px solid #ced4da;
}
.stat-team-logo {
	height: 150px;
	width: 150px;
}
.team {
	height: 75px;
	width: 75px;
	background: red;
	margin: 10px;
	display: inline-block;
}

.row {
	margin-left: 0;
	margin-right: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
	.container {
		max-width: unset;
	}
}
// @media (min-width: 768px) {
	
// }
